//? <script>
/// export ...
class Hello {
  static greet(system) {
    system.printLine("Hello, world.");
  }
}
//? </script>
//? <script>
/// export
class InBrowserSystem {
  static create() {
    if (typeof(window) != "undefined") {
      return new InBrowserSystem(window);
    }
    return null;
  }

  run($App) {
    window.onload = () => {
      this._page = window.document.body;
      this._page.innerHTML = "";

      $App.greet(this);
    }
  }

  printLine(message) {
    this._page.textContent += message;
  }
}
//? </script>
//? <script>
/// export
class ConsoleSystem {
  static create() {
    if (typeof(console) != "undefined") {
      return new ConsoleSystem;
    }
    return null;
  }

  run($App) {
    $App.greet(this);
  }

  printLine(message) {
    console.log(message);
  }
}
//? </script>
//? <script>
/// import { Hello } from "./Hello.js";
/// import { InBrowserSystem } from "./InBrowserSystem.js";
/// import { ConsoleSystem } from "./ConsoleSystem.js";

void function main() {
  if (!system) var system = InBrowserSystem.create();
  if (!system) var system = ConsoleSystem.create();
  if (!system) throw new Error("I literally can't even");

  system.run(Hello);
} ()

/// $path$: "main.src"
//? </script>
